---
const presentation = Astro.url.pathname.replace(/^\/+|\/+$/g, '').split('/').at(-1);
const href = `https://maxart2501.github.io/web-components-update-talk/${presentation}/`;
const imgSrc = `../img/qr-slides-${presentation}.svg`;
---
<p-slide>
	<img src={imgSrc} alt="QR Code to the slides" effect="falling" style="flex-grow: 1; min-height: 0; --from: -80cqh">
	<a href={href} class="center" effect="falling" style="--from: 25cqh">
		{href.slice(8, -1)}
	</a>
</p-slide>