---
import QrCode from "../components/QrCode.astro";

const presentation = Astro.url.pathname.replace(/^\/+|\/+$/g, '').split('/').at(-1);
const href = `https://maxart2501.github.io/web-components-update-talk/${presentation}/`;
---
<p-slide>
	<QrCode content={href} effect="falling" style="--from: -80cqh" aria-label="QR Code to the slides"/>
	<a href={href} class="center" effect="falling" style="--from: 25cqh">
		{href.slice(8, -1)}
	</a>
</p-slide>